[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-marshmallow = "*"
flask-sqlalchemy = "*"
mysql-connector-python = "*"
pyjwt = "*"
python-dotenv = "*"
pymysql = "*"
marshmallow-sqlalchemy = "*"

[requires]
python_version = "3.8"
